@media (min-width: 768px) {
	#masthead .mobile-menu {
		display: none
	}

	#masthead .header-center .site-branding {
		display: none
	}

	#masthead .header-left #site-navigation {
		display: none
	}
}

@media (min-width: 992px) {
	.product-summery-col {
		padding-left: 30px
	}
}

@media (max-width: 991px) {
	body.woocommerce-cart .woocommerce {
		display: block;
	}

	body.woocommerce-cart form.woocommerce-cart-form {
		width: 100%;
	}

	body.woocommerce-cart .cart-collaterals {
		width: 100%;
	}

	body.woocommerce-cart form.woocommerce-cart-form {
		margin: 20px 0;
	}

	body.woocommerce-cart .cart-collaterals {
		margin: 20px 0;
	}

	.section-title {
		font-size: 20px;
	}

	.cart_totals h2 {
		font-size: 20px;
	}

	.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title p.wc-block-components-checkout-order-summary__title-text,
	body.woocommerce-checkout form.wc-block-checkout__form .wc-block-components-title.wc-block-components-title {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	#masthead .header-left {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		flex-direction: row;
		align-content: center;
	}

	#masthead .header-left .site-branding {
		display: none
	}

	#masthead .header-center #site-navigation {
		display: none
	}

	.header-center .site-branding a {
		max-width: 124px;
	}

	.header-center .site-branding a img.custom-logo {
		max-width: 100%;
		height: auto;
	}

	.header-center .site-branding {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.mobile-menu #site-navigation ul#primary-menu ul.sub-menu li.menu-item {
		padding: 0px 10px;
	}

	#site-navigation ul#primary-menu li.menu-item.menu-item-has-children > ul.sub-menu {
		padding: 5px 10px 0 10px;
	}

	.footer-copyright {
		height: auto;
		padding-bottom: 5px;
		text-align: center;
	}

	.footer-copyright .row > div {
		margin-bottom: 15px
	}

	.footer-copyright ul {
		text-align: center;
	}

	.col-6.copyright-col-1 {
		order: 2;
	}

	.col-6.copyright-col-2 {
		order: 1;
	}

	.footer-widgets .row > div {
		margin-bottom: 20px
	}

	.footer-widgets .row > div:last-child {
		margin-bottom: 0
	}

	#masthead .header-right ul li {
		padding: 5px 0px;
		margin-left: 0;
	}

	#masthead .header-right ul li:last-child {
		margin-left: 26.5px;
		margin-right: 6px;
	}

	#masthead .header-right ul li a {
		width: 19.56px;
	}

	.woocommerce ul.products li.product .woocommerce-loop-product__title {
		font-size: 12px;
		line-height: 16px;
	}

	.yourfone_product_slider li.product {
		min-height: 153px;
	}

	.yourfone_product_slider .slick-prev,
	.yourfone_product_slider .slick-next {
		display: none !important
	}

	.site-footer .footer-bottom {
		margin-top: 20px;
	}

	#masthead {
		height: 70px;
	}

	#masthead.sticky-header {
		position: fixed;
		width: 100%;
		background: #fff;
		z-index: 9999;
		top: 0;
	}

	.woocommerce div.product div.images,
	.woocommerce-page div.product div.images {
		width: 100%;
	}

	.woocommerce-page div.product div.summary {
		width: 100%;
	}

	.single-title-price.top-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px 15px;
		width: 100%;
	}

	.single-title-price.top-title.sticky-title {
		position: fixed;
		background: #fff;
		z-index: 99;
		border-bottom: 1px solid #ddd;
	}

	.product-image-and-summery {
		position: relative;
	}

	.woocommerce div.product div.images.woocommerce-product-gallery {
		padding-top: 120px;
	}

	.product-image-and-summery .product-image-col {
		padding-left: 0;
		padding-right: 0
	}

	.single-title-price .title-area .woocommerce-variation-availability p.stock {
		font-size: 12px !important;
	}

	.woocommerce div.product .product_title {
		font-size: 24px;
	}

	.single-title-price span.price {
		font-size: 24px !important;
	}

	.woocommerce div.product div.summary {
		margin-top: 0;
	}

	.woocommerce div.product div.images {
		margin-bottom: 10px;
	}

	.woocommerce-product-gallery .flaticon-back {
		left: 15px;
	}

	.woocommerce-product-gallery .flaticon-right-arrow {
		right: 15px;
	}

	.woocommerce div.product form.cart .variations label {
		font-size: 13.96px
	}

	.related-products-wrap {
		margin: 15px 0 20px 0;
		border-bottom: 1px solid #ddd;
	}

	.product-features-section .product-features {
		margin-top: 30px;
		display: block
	}

	.product-features-section .feature-image-area {
		width: 100%;
	}

	.product-features-section .feature-content-area {
		width: 100%;
	}

	.product-details-section {
		margin-top: 30px;
	}
}

@media (max-width: 1280px) {
	.woocommerce div.product .slick-slide::before {
		width: 64px;
		height: 64px;
		left: calc(50% - 32px);
		margin-left: -160px;
	}
}

@media (max-width: 600px) {
	.woocommerce-cart-form__cart-item .qib-button-wrapper {
		float: left !important;
	}
}